opencv-python>=4.8
mediapipe==0.10.35
numpy>=1.24,<2.0
scipy>=1.10
tqdm>=4.65
pytorch-metric-learning>=2.7
torch>=2.0.0
scikit-learn>=1.2.0
plotly>=5.15.0
pandas>=3.0.3
colorcet>=3.0.1
faiss-cpu==1.14.2
dtaidistance==2.4.0